# To ignore the autonomize directory (virtual environment)
autonomize/
.venv

# To ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# To ignore Python compiled files
__pycache__/
*.pyc

# Environment vars
.env


